/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: 'Raleway', sans-serif;
  padding: 2rem;
  font-weight:400;
}

ul {
  -webkit-padding-start: 0px;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  border-style: solid;
  border-width: 2px;
  border-color: #4074ca;
  color: #4074ca;
  font-weight:700;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #4074ca;
  color:white;
}

/* Styling for the in text link */
.in-text-link {
  color:#4074ca;
  font-weight:500;
  text-decoration:none;
}

.in-text-link:hover, .in-text-link:focus {
  color: #000080;
}

/* Styling for the submit button */
.submitButton {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #4074ca;
  font-weight:700;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.submitButton:hover, .submitButton:focus {
  color: #000080;
}

/* Styling for the input field */
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #b1e4ff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 6px 10px 6px 10px;
}

input[type=text]:focus {
  border: 2px solid #4074ca;
}

/* Styling for the heading */
.heading-one {
  font-weight:700;
  font-size:3rem;
  color:#4074ca;
}

.heading-two {
  font-weight:500;
  font-size: 2rem;
  color:#4074ca;
}

.heading-three {
  font-weight:500;
  font-size: 1.5rem;
  color:#4074ca;
}

/* Styling for the paragraph */
.paragraph {
  line-height:1.2rem;
  color:#363636;
}

/* Styling for the ul list */
.ulList-dot ul{
  line-height:1.8rem;
  color:#363636;
}

/* Styling for the ol list */
.olList{
  line-height:1.8rem;
  color:#363636;
}



/*
  COMBINED ELEMENTS -------------------
*/

/* Styling for the navigation */
.navigation{
  width:100%;
  height:auto;
  background-color:#000080;
}

.ulList li {
  line-height: 1rem;
  display:inline-block;
  text-align: center;
}

.ulList li img {
  width:3rem;
  height:1.5rem;
  margin:auto;
}

.ulList a {
  text-decoration: none;
  font-weight:700;
  color:#fff;
  display:block;
  padding:1rem;
  width:5rem;
}

.ulList li a:hover {
  color:#4074ca;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

/* Styling for the product listing */
.flexbox {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.flex-left img {
  padding:1rem;
  width:10rem;
  height:13rem;
}

.flex-right {
  max-width: 25rem;
  padding:1rem;
}

.price {
  color:#4074ca;
  font-weight:500;
}

/* Styling for the grid structure */
.flexContainer {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.flexContainer .block {
  border: 2px solid black;
  flex:1;
  min-width:20rem;
  height:10rem;
}

/* Styling for the color swatch */
.flexContainer .block-one {
  background-color: #000080;
  border: 2px solid black;
  min-width:20rem;
  height:10rem;
  flex:1;
}

.flexContainer .block-two {
  background-color: #4074ca;
  border: 2px solid black;
  min-width:20rem;
  height:10rem;
  flex:1;
}

.flexContainer .block-three {
  background-color: #363636;
  border: 2px solid black;
  min-width:20rem;
  height:10rem;
  flex:1;
}

.flexContainer .block-four {
  background-color: #b1e4ff;
  border: 2px solid black;
  min-width:20rem;
  height:10rem;
  flex:1;
}

.flexContainer .block-five {
  background-color: #fff;
  border: 2px solid black;
  min-width:20rem;
  height:10rem;
  flex:1;
}
