h2 a {
  color:#000;
}

h2 a:hover {
  color:#b1e4ff;
}

.bgimage {
  height:60%;
}

#space {
  height:6rem;
  width:100%;
}

.space2 {
  width: 100%;
  height:5rem;
}

#blogSection {
}

.titleText {
  padding-top:20%;
}

.blogContainer {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  width:80%;
  margin:auto;
}

.blogImage {
  padding-top:2rem;
  width:30rem;
  height:22rem;
}

.authorLogo {
  text-align: left;
  width:3rem;
	height:3rem;
}

.blogText {
  padding-left:5%;
  padding-top:2rem;
  width:40rem;
}

.blogText a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.blogText a:hover {
  color:#b1e4ff;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

@media only screen and (min-width: 1900px) {
	#space {
		height:10rem;
	}
}

@media only screen and (max-width: 740px) {
  .titleText {
    padding-top:30%;
  }

  .blogText {
    padding-left:0;
    padding-top:2rem;
    width:90%;
  }
}
