#completeSection {
  height:auto;
  width:100%;
}


.completeContainer {
  width:80%;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin:auto;
}

.completeText {
  flex:5;
  min-width: 20rem;
}

.completeText h1 {
  margin-top:0rem;
  color:#363636;
}
.completeText h2 {
  margin-top:4rem;
  /* color:white; */
}

.completeText p {
  /* color:white; */
}

.purchaseTotal{
  float:right;
  margin-top:4rem;
  text-align: right;
}
.purchaseTotal p{
  font-size: 1.2rem;
  margin-top:0.1rem;
}
.purchaseTotal h2 {
  margin-top:0.5rem;
  /* color:white; */
}

.emptyFlex {
  flex:1;
}

.space2 {
  height:4rem;
  width:auto;
}

.container {
  min-width: 20rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.image{
  height: 22rem;
  width:100%;
}

.space2 {
  height:4rem;
  width:auto;
}

.container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#complete {
  padding: 25px;
  padding-top: 0px;
  margin: 4rem 0;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#complete button[type="submit"] {
  cursor: pointer;
  width: 100%;
  padding: 0.5em 0.75em;
  border-style: solid;
  border-width: 2px;
  border-color: #4074ca;
  color: #4074ca;
  background-color: white;
  font-weight:700;
  text-decoration: none;
  margin: 0 0 5px;
  padding: 10px;
  font-size:1rem;
}

#complete button[type="submit"]:hover {
  background: #4074ca;
  color:white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#complete input:focus,
#complete textarea:focus {
  outline: 0;
  border: 2px solid #4074ca;
}

#space {
  height:9vh;
}

@media only screen and (min-width: 1900px) {
	#space {
		height:10rem;
	}
}

@media only screen and (max-width: 980px) {
	#space {
	  height:31vh;
	}
}
@media only screen and (max-width: 760px) {
  #space {
    height:14vh;
  }
}
