#detailTextSection {
	text-align: left;
}

.titleContainer {
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:center;
	align-items: center;
	width:80%;
	margin:auto;
	margin-bottom:2rem;
}

.titleContainer .emptyFlex {
	flex:2;
}

.titleContainer h2 {
	float:left;
	flex:1;
}


.purchase {
	float:right;
	flex:1;
	cursor: pointer;
  width: 20%;
  padding: 0.5em 0.75em;
  border-style: solid;
  border-width: 2px;
  border-color: #4074ca;
  color: #4074ca;
  background-color: white;
  font-weight:700;
  text-decoration: none;
  margin: 0 0 5px;
  padding: 10px;
	font-size: 1rem;
	text-align: center;
}

.purchase:hover {
  background: #4074ca;
  color:white;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.detailContainer {
	width:80%;
	margin:auto;
}

.detailContainer .gameImage {
	width:100%;
	height:auto;
}

.space {
  height:20vh;
  width:100%;
}

@media only screen and (min-width: 1900px) {
	#space {
		height:22rem;
	}

	.space {
		height:22rem;
	}
}

@media only screen and (max-width: 980px) {
	.space {
	  height:35vh;
	}
}


@media only screen and (max-width: 760px) {
  .space {
    height:0;
  }

	.gameImage {
		padding-bottom:2rem;
	}

	.purchase {
		font-size:0.6rem;
	}

	.emptyFlex {
		flex:none;
	}
}
