#gameTextSection {
  text-align: center;
  margin:auto;
  width:70%;
  margin-bottom:4rem;
}

h2 {
  color:#363636;
}

#quote {
  font-size: 1.3rem;
}

#gameSection {
  background-color: #363636;
  color:white;
  height:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
}

.allgameContainer {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  width:80%;
  height:auto;
}

.gameContainer {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  padding-top:5rem;
  width:50%;
  min-width:20rem;
}

.gameImage {
  width:15rem;
  height:20rem;
  padding-top:1rem;
}

.gameTextBlock {
  padding-top:1rem;
  padding-left:2rem;
  padding-right:2rem;
  width:22rem;
}

.gameTextBlock h2 {
  color:white;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.gameTextBlock a {
  text-decoration: none;
}

.gameTextBlock h2:hover {
  color:#4074ca;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.price {
  color:white;
  font-size: 1.3rem;
}

.gameContent {
  padding-top:2rem;
}

.release {
  font-size:1.3rem;
  padding-top: 2rem;
}

.space {
  height:6rem;
  width:100%;
}

@media only screen and (min-width: 1900px) {
	#space {
		height:10rem;
	}

  .space {
    height:10rem;
  }
}
