*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

.noScroll {
  position:fixed;
  width:100%;
  height:4.5rem;
	z-index: 600;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.scroll {
  position:fixed;
  background-color:#000080;
  width:100%;
  height:4.5rem;
	z-index: 600;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

nav {
  z-index: 100;
	width: 95%;
  padding-top:1rem;
  padding-bottom:1rem;
	margin: 0 auto;
  height:100%;
}

header nav img{
	float: left;
  width: 2.7rem;
  height: 2.7rem;
}

.squareone {
  text-decoration: none;
  width:auto;
  height:6rem;
  font-weight:700;
  font-size:2rem;
  margin:1rem;
  color:#fff;
  letter-spacing: 0.2rem;
}

.ulList {
	float: right;
  padding-top:0.8rem;
}

li {
	display: inline;
	float: left;
  padding-right:2.5rem;
}

li a {
  font-weight:700;
  color:#fff;
  letter-spacing: 0.2rem;
  text-decoration: none;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

li a:hover {
  color:#4074ca;
}

#test {
  height:5000px;
}

#promotion {
  width:100%;
  height:90%;
}

#space {
	height:14rem;
	width:100%;
}

.bgimage {
  z-index: -1;
  width:100%;
	min-width: 60rem;
  height:90%;
  position:absolute;
  top:0;
}

#textBlock {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  width:90%;
  margin:auto;
  padding-top:21%;
}

h1 {
  font-weight:700;
  font-size:3rem;
  color:#fff;
}

h2 {
  font-weight:700;
  font-size: 1.5rem;
  color:#4074ca;
}

h2 a {
  color:#fff;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

h2 a:hover {
  color:#b1e4ff;
}

#text_left {
  width:40rem;
}

#text_right {
  flex:1;
}

#latestBlog {
  /* margin-top:13%; */
  text-align: center;
}

#blogBlock {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
	margin-top:3rem;
}

.blogFlex {
  width:30rem;
  padding:1rem;
}

.blogFlex img{
  width:100%;
}

.blogFlex a {
  text-decoration: none;
}

.blogFlex a h3:hover {
  color:#b1e4ff;
}

.blogFlex h3 {
  padding-top:1rem;
  font-weight:700;
  font-size: 1.2rem;
  color:#363636;
  text-align: left;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.blogFlex .authorLogo {
  text-align: left;
  width:3rem;
	height:3rem;
}

.authorLeft {
  padding-top:1rem;
	float:left;
}

.authorRight {
	padding-top:1rem;
	padding-left:1rem;
	float:left;
	text-align: left;
}

.blogFlex .author p{
  text-align: left;
}


#space2 {
	height:8rem;
	width:100%;
}

#gameBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	height: auto;
	width: 100%;
	z-index: -1;
}

#gamePromo_left {
	flex:1;
	height:100%;
	text-align:center;
	cursor:default;
	position:relative;
	min-width: 20rem;
	width: calc(100% * (1/2));
}

#gamePromo_left img {
	display:block;
	width:100%;
	height:100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.gamePromo_rightFlexbox {
	flex:1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100%;
	width: calc(100% * (1/2));
}

.gamePromo_right {
	flex-grow: 1;
	width: calc(100% * (1/2));
	height:50%;
	text-align:center;
	position:relative;
	min-width: 15rem;
}

.gamePromo_right img {
	display:block;
	width:100%;
	height:100%;
	opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.overlaytext{
  position:absolute;
  display:block;
  left:0;
  right:0;
  bottom:0;
  top:0;
  vertical-align: middle;
  margin:auto;
  width:100%;
  text-align:center;
	font-size: 2rem;
  color:#b1e4ff;
  height:50px;
  opacity:1;
	cursor: default;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#gamePromo_left img:hover {
	opacity: 0.3;
	-webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

#gamePromo_left:hover .overlaytext {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.gamePromo_right img:hover {
	opacity: 0.3;
	-webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.gamePromo_right:hover .overlaytext {
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.footer {
  height: 15rem;
	background-color:#000080;
}

#footerText {
	font-size: 1.5rem;
	font-weight:700;
	color:#4074ca;
	padding-top: 4rem;
	text-align: center;
}

#footerText_copyright {
	font-size: 1rem;
	font-weight:400;
	color:#4074ca;
	padding-top:5rem;
	padding-left: 2rem;
	text-align: left;
}

	.menu-wrapper {
	display:none;
}

@media only screen and (min-width: 1900px) {
	#space {
		height:22rem;
	}

	#gameBox {
		height: 40rem;
	}

}

@media only screen and (max-width: 980px) {
	.squareone {
		display:none;
	}

	#textBlock {
		padding-top:27.5rem;
	}

	#space {
		height:17rem;
		width:100%;
	}

	#space2 {
		height:8rem;
		width:100%;
	}

	#gamePromo_left {
 		flex:none;
		width: 100%;
	}


@media only screen and (max-width: 740px) {
	header {
		display:none;
	}

	#textBlock {
		padding-top:0rem;
		height:22rem;
	}

	#space {
		height:13rem;
		width:100%;
	}


/*animation css credit to Alberto Jerez, modified by Eldwin*/
.menu-wrapper {
	display:block;
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: 3rem;
	margin-left: 1rem;
}

.menu {
  position: relative;
  width: 36px;
  height: 6px;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  margin: 5px;
  color: #7482A5;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu label {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  line-height: 30px;
  top: -12px;
  left: 48px;
	color:#fff;
}
.menu:hover > ul.nav-links, .menu.open > ul.nav-links {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  width: 180px;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  pointer-events: auto;
}

.menu:after, .menu:before {
  content: "";
  position: absolute;
  width: 36px;
  height: 6px;
  background-color: #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu:after {
  top: 12px;
}

.menu:before {
  top: -12px;
}

.menu:hover, .menu.open {
  background-color: transparent;
}

.menu:hover::after, .menu:hover::before, .menu.open::after, .menu.open::before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 18px;
}

.menu:hover::after, .menu.open::after {
  -webkit-transform: translate(3px, -7px) rotate(405deg);
          transform: translate(3px, -7px) rotate(405deg);
}

.menu:hover::before, .menu.open::before {
  -webkit-transform: translate(12px, 17px) rotate(-405deg);
          transform: translate(12px, 17px) rotate(-405deg);
}

.menu ul.nav-links {
  margin: 0;
  padding: 36px 0 0 0;
  opacity: 0;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.menu ul.nav-links li {
  width: 100%;
  padding: 4px 8px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border-left: 2px solid #fff;
}

.menu ul.nav-links li:hover, .menu ul.nav-links li.active {
  color: white;
  border-left: 2px solid #4074ca;
}
}
